@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");

body{
    background-image: url(background-img.jpg);
}

h1{
    color:hsl(51, 80%, 46%);
    font-family: raleway;
    text-transform: uppercase;
}

h2{
  text-align: center;
  font-family: raleway;
  margin: 1em;
}

p{
  text-align: center;
  font-family: raleway;
  margin: 1em;
}

.searchcontainer{
text-align: center;
}

.cityReport{
    position: absolute;
    background-color: hsl(51, 80%, 46%);
    height: 300px;
    width: 500px;
    left: 35%;
    right: 50%;
    top: 25%;
    border-radius: 2%;
    display: none;
}

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}